nav ul {
	all: unset;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
	margin-top: 0.75rem;
}

nav ul li { all: unset; font: 1rem/1.5rem "Helvetica", sans-serif; }

.admonition {
	color: red;
	display: block;
	text-align: center;
	font-family: monospace;
	font-size: 1.7em;
	text-transform: capitalize;
}
