/* The line height is 1.5*font-size of paragraph = 1.5*14pt = 21pt. So every vertically-spaced object must take up a multiple of 21pt.*/

a, a:visited {
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	color: #44f;
}

a::before { content: "["; }
a::after { content: "]"; }

body {
	font-family: "Times New Roman", "Times", serif;
	max-width: 33em;
	margin: auto;
	padding: 10pt;
	background: #fffaf5;
}

ol {
	margin-top: 0em;
	margin-bottom: 1.5em;
}

ul {
	margin-top: 0em;
	margin-bottom: 0em;
}

li {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0.75em;
}

li li {
	margin-bottom: 0em;
}

img {
	display: block;
	max-width: 100%;	/* no bigger than the parent element */
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

p {
	font-size: 1em;
	word-spacing: 0.15em;
	line-height: 1.5;		/* keep line-height, margin-top, and margin-bottom the same */
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1 {
	font-family: "Helvetica", sans-serif;
	font-size: 2em;
	line-height: 1.5;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

h2, h3, h4 {
	font-family: "Helvetica", sans-serif;
}

nav ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin-bottom: -1.5em;
    padding: 0 0 0 0 ;
}

nav li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
	margin-bottom: 0.75em;
}

.admonition {
	color: red;
	display: block;
	text-align: center;
	font-family: monospace;
	font-size: 1.7em;
	text-transform: capitalize;
}
