/* The line height is 1.5*font-size of paragraph = 1.5*14pt = 21pt. So every vertically-spaced object must take up a multiple of 21pt.*/

body {
	max-width: 33em;
	font-family: "Times New Roman", "Times", serif;
	margin: auto;
	padding: 10pt;
	background: #fffaf5;
}

ul {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

li {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}


img {
	display: block;
	width: 100%;	/* no bigger than the parent element */
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1 {
	/*float: left;*/
	font-family: "Helvetica", sans-serif;
	margin: 0; 
	padding: 0;
	font-weight: bold;
	font-size: 24pt;
	text-align: center;
}

h2 {
	font-family: "Helvetica", sans-serif;
}

a {
	text-decoration: none;
	color: #44f;
}

p {
	font-family: "Times New Roman", "Times", serif;
	font-size: 14pt;
	word-spacing: 0.15em;
	line-height: 1.5;		/* keep line-height, margin-top, and margin-bottom the same */
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 2em;
	line-height: 1.5;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
